<img src="../../assets/cthulu.png" class="float-end mt-sm-2"/>

<h1 class="cv-title mt-sm-5">Jonathan Oudshoorn</h1>

<p>
  Cell: <span class="tel">555-666-7777</span><br/>
  Email: <a class="email" href="mailto:greatoldone@lovecraft.com">greatoldone@lovecraft.com</a>
</p>

<p class="description">
  I am an outgoing and energetic (ask anybody) young professional, seeking a
  career that fits my professional skills, personality, and murderous tendencies.
  My squid-like head is a masterful problem solver and inspires fear in who gaze upon it.
  I can bring world domination to your organization.
</p>
