.job-description {
  border-left: 1px solid;

  @media (max-width: 575px) {
    border-left: 0px solid;
    border-top: 1px solid;
  }
}

.time-spent {
  font-size: 12px;
  font-family: Georgia, Serif;
  font-style: italic;
  color: #666;
}
