<div class="container">
  <div class="row justify-content-sm-center">
    <div class="col-sm-8">
      <app-cv-header></app-cv-header>
    </div>
  </div>
  <div class="row justify-content-sm-center">
    <div class="col-sm-8">
      <h2 class="fw-bold">Experience</h2>
    </div>
  </div>
  <div class="row justify-content-sm-center">
    <div class="col-sm-8">
      <div *ngFor="let job of (jobs$ | async)">
        <app-cv-section
          [title]="job"
          [description]="job"
          [timeSpent]="job"
        ></app-cv-section>
      </div>
    </div>
  </div>
</div>
