<div class="container">
  <div class="row justify-content-sm-center">
    <div class="col">
      <app-cv-header></app-cv-header>
    </div>
  </div>
  <div class="row justify-content-sm-center">
    <div class="col">
      <h2 class="fw-bold">Experience</h2>
    </div>
  </div>
  <div class="row justify-content-sm-center">
    <div class="col">
      <div *ngFor="let job of (jobs$ | async)">
        <div class="mt-4">
          <app-cv-section
            [job]="job"
          ></app-cv-section>
        </div>
      </div>
    </div>
  </div>
</div>
